.place__website {
  grid-area: url;
  grid-row: 1;
  grid-column: 2;
  align-self: flex-end;
}

@media screen and (max-width: 445px) {
  .place__website {
    align-self: start;
  }
}

@media screen and (max-width: 320px) {
  .place__website {
    display: none;
  }
}