.footer {
  max-width: 1184px;
  margin: 92px auto 24px;
  display: flex;
}

.footer__link {
  color: #fff;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  margin: 0 18px 0 0;
  transition: opacity .3s ease-in;
}

.footer__link:hover {
  opacity: .8;
}

.footer__link:last-of-type {
  margin: 0;
}

.footer__copyright {
  color: #fff;
  font-size: 14px;
  line-height: 16px;
  margin: 0;
  margin-left: auto;
}

@media screen and (max-width: 1024px) {
  .footer {
    max-width: 928px;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    max-width: calc(100% - 48px);
  }
}

@media screen and (max-width: 704px) {
  .footer {
    flex-direction: column;
  }
}

@media screen and (max-width: 320px) {
  .footer {
    display: flex;
    flex-direction: column;
    margin: 64px 118px 24px 16px;
    width: 186px;
    height: 100%;
  }

  .footer__link {
    margin: 0 0 32px;
    font-size: 24px;
    line-height: 24px;
  }

  .footer__copyright {
    margin: 48px 0 0;
    font-size: 14px;
    line-height: 14px;
  }
}

